<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
    input {
        width: 100%;
        height: 35px;
    }

    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #messages li {
        padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
        background: #eee;

    }

</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" id="message-form">
                <div class="col-sm-10">
                    <input type="text" id="user-message" placeholder="Enter your Message">
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Send!" class="btn btn-primary">
                </div>
            </form>
            <ul id="messages">
                <!-- This will be populated automatically -->
            </ul>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>




    const socket = io('http://localhost:9000');
    socket.on('messageFromServer', (dataFromServer) => {
        console.log(dataFromServer)
        socket.emit('messageToServer', { data: "This is form Client" })
    })

    document.querySelector('#message-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const newMessage = document.querySelector('#user-message').value
        console.log('Form submitted')

        socket.emit('newMessageToServer', { text: newMessage })

    })

    socket.on("messageToClients", (msg) => {
        document.querySelector('#messages').innerHTML += `<li>${msg.text}</li>`
    })

</script>
