<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="./styles.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 namespaces">
            <!-- JS Will Update -->
        </div>
        <div class="col-sm-2 rooms">
            <h3>Rooms</h3>
            <ul class="room-list">
                <!-- JS Will Update Dynamically -->
            </ul>
        </div>
        <div class="chat-panel col-sm-9">
            <div class="room-header row col-6">
                <div class="col-sm-3"><span class="curr-room-text">Current Room</span> <span
                        class="curr-room-num-users">Users <span class="glyphicon glyphicon-user"></span></span></div>
                <div class="col-sm-3 search pull-right">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" id="search-box" placeholder="Search" />
                </div>
            </div>
            <div class="message-form">
                <form id="user-input">
                    <div class="col-sm-12">
                        <input id="user-message" type="text" placeholder="Enter your message" />
                    </div>
                    <!-- <div class="col-sm-2">
                        <input class="btn btn-primary" type="submit" value="send" />
                    </div> -->
                </form>
            </div>
            <ul id="messages" class="col-sm-12">
                <li>
                    <div class="user-image">
                        <img src="https://via.placeholder.com/30" />
                    </div>
                    <div class="user-message">
                        <div class="user-name-time">rbunch <span>1:25 pm</span></div>
                        <div class="message-text">I went running today.</div>
                    </div>
                </li>

                <li>
                    <div class="user-image">
                        <img src="https://via.placeholder.com/30" />
                    </div>
                    <div class="user-message">
                        <div class="user-name-time">rbunch <span>2:25 pm</span></div>
                        <div class="message-text">I'm getting my tires changed this afternoon.</div>
                    </div>
                </li>
                <li>
                    <div class="user-image">
                        <img src="https://via.placeholder.com/30" />
                    </div>
                    <div class="user-message">
                        <div class="user-name-time">rbunch <span>2:29 pm</span></div>
                        <div class="message-text">I like history.</div>
                    </div>
                </li>
                <li>
                    <div class="user-image">
                        <img src="https://via.placeholder.com/30" />
                    </div>
                    <div class="user-message">
                        <div class="user-name-time">rbunch <span>2:59 pm</span></div>
                        <div class="message-text">What day is tomorrow?.</div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>
<script src="/joinNs.js"></script>
<script src="/joinRoom.js"></script>
