<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="./style.css">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form action="" id="message-form">
                <div class="col-sm-10">
                    <input type="text" id="user-message" placeholder="Enter your Message">
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="Send!" class="btn btn-primary">
                </div>
            </form>
            <ul id="messages">
                <!-- This will be populated automatically -->
            </ul>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./script.js"></script>
