<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"
    integrity="sha512-7IDZ+mHVoc7nSziUi72L5rGojJDtveVWHOjb+Eu8QSnguy5FitNnFyEoLoL3v1u18DNm4E30elDfkhZvVADw6Q=="
    crossorigin="anonymous"></script>

<script>

    const socket = io('http://localhost:8000')

    // let ws = new WebSocket("ws://localhost:8000");
    console.log(socket)

    socket.on("connect", (data) => {
        console.log(data);
        socket.on('welcome', (message) => {
            console.log(message);
        })

        socket.emit('message', { data: "Its like party!!" })
    })

    // socket.onmessage = (event) => {
    //     console.log(event)
    // }
</script>
